/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DTR_TRD_NO]
      ,[DTR_EXM_ID]
      ,[DTR_ORD_NO]
      ,[DTR_ORD_TIME]
      ,[DTR_DT]
      ,[DTR_TIME]
      ,[DTR_ENT_ID]
      ,[DTR_ENT_DERV_CTRL_ID]
      ,[DTR_DCM_ID]
      ,[DTR_DST_TYPE]
      ,[DTR_EXPIRY_DT]
      ,[DTR_STRIKE_PRICE]
      ,[DTR_BUY_SELL_FLG]
      ,[DTR_QTY]
      ,[DTR_PRICE]
      ,[DTR_DCN_NO]
      ,[DTR_CUS_CONF_FLG]
      ,[DTR_STATUS]
      ,[DTR_MC_FLG]
      ,[DTR_CREAT_BY]
      ,[DTR_CREAT_DT]
      ,[DTR_LAST_UPDT_BY]
      ,[DTR_LAST_UPDT_DT]
      ,[DTR_PRG_ID]
      ,[DTR_TMM_PROD_ID]
      ,[DTR_CHM_ID]
      ,[DTR_EXM_STATUS]
      ,[DTR_REMARKS]
      ,[DTR_CONSOLIDATION_ID]
      ,[DTR_BATCH_NO]
      ,[DTR_ALLOCATION_ID]
      ,[DTR_CHANNEL_TYPE]
      ,[DTR_USER_ID]
      ,[DTR_ORIG_CHANNEL_TYPE]
      ,[DTR_SUPER_ID]
      ,[DTR_BRK_MTH_TURNOVER]
      ,[DTR_SQUP_QTY]
      ,[DTR_CLOSE_OUT_QTY]
      ,[DTR_SQUP_SECOND_LEG_QTY]
      ,[DTR_ORDER_INSTR_NO]
      ,[DTR_TRANSACTION_ID]
      ,[DTR_COMMISSION_APPLICABLE]
      ,[DTR_COMMISSION_VALUE]
      ,[DTR_OI_BROKERAGE]
      ,[DTR_OI_BROKERAGE_TYPE]
      ,[DTR_OASYS_BLIM_REF_NO]
      ,[DTR_LAST_ACTIVITY_TIME]
      ,[DTR_DEALER_ID]
      ,[DTR_PRODUCT_TYPE]
      ,[DTR_NRI_SETTLEMENT_TYPE]
      ,[DTR_PORTFOLIO_ID]
      ,[DTR_BASKET_ID]
      ,[DTR_MARGIN_CALL]
      ,[DTR_TERMINAL_ID]
      ,[DTR_TRADER_ID]
      ,[DTR_ACT_PASS_FLG]
      ,[DTR_SPREAD_TRADES]
      ,[DTR_SPREAD_TRADE]
      ,[DTR_BRK_TYPE]
      ,[DTR_BRK_APPLICABLE]
      ,[DTR_UPSTREAM_BRK_TYPE]
      ,[DTR_UPSTREAM_BRK_APPLICABLE]
      ,[DTR_ORG_CONSOL_ID]
      ,[DTR_ORG_WAP]
      ,[DTR_TRADE_REF_NO]
      ,[DTR_BUY_LOC_ID]
      ,[DTR_SELL_LOC_ID]
      ,[DTR_OLD_CP_CD]
      ,[DTR_MIS_DEAL_TYPE]
      ,[DTR_CONTRACTS]
      ,[DTR_TRADE_TIME]
      ,[DTR_FIX_TRADE_YN]
      ,[DTR_BRANCH_USER_ID]
      ,[DTR_BRANCH_TERMINAL_ID]
      ,[DTR_SHORT_CODE]
      ,[DTR_SQUP_QTY_TG]
  FROM [Netcore_solution_DB].[dbo].[dtm_trades_All_records]
  where  DTR_ENT_ID = '2248257' and  DTR_DCM_ID = 'OPTSTK-AUROPHARMA-26OCT2017-CE-720.0000    -0'

  
