/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [TRD_NO]
      ,[TRD_SERIAL_NO]
      ,[TRD_SEQ_NO]
      ,[TRD_STC_STT_EXM_ID]
      ,[TRD_BUY_SELL_FLG]
      ,[TRD_MTT_TYPE]
      ,[TRD_STC_STT_TYPE]
      ,[TRD_STC_NO]
      ,[TRD_SEM_ID]
      ,[TRD_ENT_ID]
      ,[TRD_ENT_TYPE]
      ,[TRD_CTRL_ID]
      ,[TRD_DT]
      ,[TRD_TIME]
      ,[TRD_QTY]
      ,[TRD_PRICE]
      ,[TRD_ORD_NO]
      ,[TRD_ND_FLG]
      ,[TRD_SP_SET_FLG]
      ,[TRD_CREAT_BY]
      ,[TRD_CREAT_DT]
      ,[TRD_LAST_UPDT_BY]
      ,[TRD_LAST_UPDT_DT]
      ,[TRD_CF_TYPE]
      ,[TRD_CF_TENURE]
      ,[TRD_USER_ID]
      ,[TRD_PRG_ID]
      ,[TRD_CN_NO]
      ,[TRD_SA_FLG]
      ,[TRD_ORG_FLAG]
      ,[TRD_TMM_PROD_ID]
      ,[TRD_CHM_ID]
      ,[TRD_OBG_SEQ_NO]
      ,[TRD_IND_FLG]
      ,[TRD_ML_FLG]
      ,[TRD_ML_EXP_DT]
      ,[TRD_ORG_ENT_ID]
      ,[TRD_STATUS]
      ,[TRD_MTS_PROD_ID]
      ,[TRD_IND_FLG_UPS]
      ,[TRD_EXCH_SEC_SERIES]
      ,[TRD_ORIG_ENT_ID]
      ,[TRD_REPORTING_STATUS]
      ,[TRD_REMARKS]
      ,[TRD_PRT_CODE]
      ,[TRD_ML_PROCESSED_YN]
      ,[TRD_BRK_MTH_TURNOVER]
      ,[TRD_ORD_FLG]
      ,[TRD_ORDER_TIME]
      ,[TRD_SQUP_QTY]
      ,[TRD_SQUP_SECOND_LEG_QTY]
      ,[TRD_CN_WAP]
      ,[TRD_BRK_APPL_WRT_CHM_PROD]
      ,[TRD_SHORT_SELL_FLG]
      ,[TRD_PORTFOLIO_ID]
      ,[TRD_BASKET_ID]
      ,[TRD_PRODUCT_CD]
      ,[TRD_SQUP_QTY_EXCH]
      ,[TRD_SQUP_SECOND_LEG_QTY_EXCH]
      ,[TRD_PRODUCT_TYPE]
      ,[TRD_EMARGIN_DAYS]
      ,[TRD_SIP_FLAG]
      ,[TRD_CHANNEL_TYPE]
      ,[TRD_MARGIN_CALL]
      ,[TRD_DEALER_ID]
      ,[TRD_TERMINAL_ID]
      ,[TRD_RECON]
      ,[TRD_SOR_FLAG]
      ,[TRD_ISIN_CD]
      ,[TRD_BRANCH_USER_ID]
      ,[TRD_BRANCH_TERMINAL_ID]
      ,[TRD_BRK_MTH_TRADE_COUNT]
      ,[TRD_GTDT_FLAG]
      ,[TRD_SQUP_QTY_TG]
      ,[TRD_SQUP_QTY_DZ]
  FROM [Netcore_solution_DB].[dbo].[EQ_Trades_Q1_Q2]
    where TRD_ENT_ID = '1000033' AND TRD_NO = '2017040300260140'