/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DCN_NO]
      ,[DCN_DATE]
      ,[DCN_EXM_ID]
      ,[DCN_ENT_ID]
      ,[DCN_ENT_CTRL_ID]
      ,[DCN_STAGE]
      ,[DCN_GENERATED_FLG]
      ,[DCN_BROKERAGE_AMT]
      ,[DCN_STAMP_DUTY]
      ,[DCN_SERVICE_TAX]
      ,[DCN_TURNOVER_TAX]
      ,[DCN_OTHER_FEE]
      ,[DCN_TOTAL_PREMIUM]
      ,[DCN_CREAT_BY]
      ,[DCN_CREAT_DT]
      ,[DCN_LAST_UPDT_BY]
      ,[DCN_LAST_UPDT_DT]
      ,[DCN_PRG_ID]
      ,[DCN_CLEARING_AMT]
      ,[DCN_AUDIT]
      ,[DCN_BLM_NO]
      ,[DCN_CAN_REMARKS]
      ,[DCN_STT_AMT]
      ,[DCN_DBS_ID]
      ,[DCN_CONTRACT_SCHEME]
      ,[DCN_SEBI_TURNOVER_TAX]
      ,[DCN_ENT_STATE]
      ,[DCN_SERVICE_TAX_BR]
      ,[DCN_EDUCATION_CESS]
      ,[DCN_EDUCATION_CESS_BR]
      ,[DCN_HIGH_EDUCATION_CESS]
      ,[DCN_HIGH_EDUCATION_CESS_BR]
      ,[DCN_TURNOVER_TAX_BR]
      ,[DCN_STT_AMT_BR]
      ,[DCN_STAMP_DUTY_BR]
      ,[DCN_SEBI_TURNOVER_TAX_BR]
      ,[DCN_PURE_BROKERAGE_AMT]
      ,[DCN_CONTRACT_TRADE_VALUE]
      ,[DCN_CONTRACT_NOTE_FLG]
      ,[DCN_CASHBACK_GEN_DT]
      ,[DCN_ENT_GST_STATE]
      ,[DCN_ENT_GST_STATE_CD]
      ,[DCN_ENT_UT_FLAG]
      ,[DCN_ENT_BRANCH_STATE]
  FROM [Netcore_solution_DB].[dbo].[cur_contract_note_master] 
  where DCN_ENT_ID = '2474744' and DCN_DATE ='2018-03-26 00:00:00.0000000'
    